body
{

font-family: 'Montserrat', sans-serif;
margin: 1.5em;
}

main {
max-width: 100%;
height:auto;

}


img {

max-width: 100%;
height:auto;
}

.logo{
display:block;
margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h1 {
font-family: 'Montserrat', sans-serif;
font-weight: 800;
text-align: center;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
}

 .download {
display: block;
margin-left: auto;
	margin-right: auto;
	width: 40%;

}

.download img {
	align-items: center;
}


  
}
.image-grid img{

margin: 1em;
display: block;
border: 1px;
border-radius: 25%;

}

